@model CropsFarmViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "_Layout";
}

<partial name="_Notification" />

<h2 class="mt-5">Add A Crop</h2>

<form asp-action="AddCrops" method="post">
    @{
        string farmId = HttpContextAccessor.HttpContext.Request.Query["farmId"];
    }
    <div class="form-group">
        <input type="hidden" asp-for="FarmId" />
        <div class="row">
            <div class="col-4">
                <label asp-for="Name"></label>
                <select id="cropDropdown" asp-for="Name" class="form-control" required>
                    <option value="">-- Select Crop --</option>
                    @foreach (var cropTypes in Model.CropTypes)
                    {
                        <option value="@cropTypes.Name" data-cropid="@cropTypes.Id" class="text-dark">@cropTypes.Name
                        </option>
                    }
                </select>
            </div>

            <div class="col-4">
                <label asp-for="Variety"></label>
                <select id="varietyDropdown" asp-for="Variety" class="form-control" required>
                    <option value="">-- Select Variety --</option>
                </select>
            </div>

            <div class="col-4">
                <label asp-for="PlantingDate"></label>
                <input asp-for="PlantingDate" class="form-control" placeholder="Enter date" required />
            </div>

            @if (Model.Farms.HasPartitions)
            {
                <div class="col-4">
                    <label asp-for="FarmSizePlanted"></label>
                    <select asp-for="PartitionPlanted" class="form-select" id="PartitionPlanted" name="PartitionPlanted">
                        <option value="">-- Select Partition --</option>
                        @foreach (var partition in Model.Partitions)
                        {
                            <option value="@partition.Id" class="text-dark" data-partition-size="@partition.Size">
                                @partition.Name - (@partition.Size Hectares)
                            </option>
                        }
                    </select>
                </div>

                <input type="hidden" asp-for="FarmSizePlanted" id="FarmSizePlanted" name="FarmSizePlanted" />

            }
            else
            {
                <div class="col-4">
                    <label asp-for="FarmSizePlanted"></label>
                    <input asp-for="FarmSizePlanted" class="form-control" placeholder="Enter Size" required />
                </div>
            }

            <div class="col-4">
                <label asp-for="QuantityPlanted"></label>
                <input asp-for="QuantityPlanted" class="form-control" placeholder="Enter Quantity" required />
            </div>

            <div class="mt-2">
                <button type="submit" class="btn btn-primary mt-1 mb-2">Add</button>
                <a href="@Url.Action("GetFarmDetails", "Farm", new { farmId = farmId })"
                    class="btn btn-danger mt-1 mb-2">Back</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Update the variety dropdown options when the crop is selected
            var cropDropdown = document.getElementById("cropDropdown");
            var varietyDropdown = document.getElementById("varietyDropdown");

            $("#cropDropdown").change(function () {
                var cropId = $(this).find('option:selected').data('cropid');
                var selectedCropId = cropDropdown.value;
                var selectedCropName = cropDropdown.options[cropDropdown.selectedIndex].dataset.cropname;

                // Clear existing options
                varietyDropdown.innerHTML = "<option value=''>-- Select Variety --</option>";

                // Make an AJAX request to fetch varieties for the selected crop
                $.get("/Farm/GetVarieties", { cropId: cropId }, function (data) {
                    // Populate the variety dropdown with the retrieved varieties

                    data.variety.forEach(function (variety) {
                        $('#varietyDropdown').append('<option value="' + variety.name + '" class="text-dark">' + variety.name + '</option>');
                    });
                });
            });
        });

        $(document).ready(function () {
            // Attach an event listener to the partition dropdown
            $('#PartitionPlanted').change(function () {
                // Get the selected partition size from the data attribute
                var selectedPartitionSize = $('#PartitionPlanted option:selected').data('partition-size');

                // Populate the hidden input field with the selected partition size
                $('#FarmSizePlanted').val(selectedPartitionSize);
            });
        });
    </script>
}
