@model List<Tasks>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@* @{
Layout = "_LayoutAdminLoggedIn";
} *@

<partial name="_Notification" />
@if (Model != null)
{
    <h2>All Tasks</h2>
    string farmId = HttpContextAccessor.HttpContext.Request.Query["farmId"];
    <a href="@Url.Action("AddTasks", "Farm", new { farmId = farmId })" class="btn btn-danger mt-1 mb-2">Add A Task</a>
    <a href="@Url.Action("GetFarmDetails", "Farm", new { farmId = farmId })" class="btn btn-danger mt-1 mb-2">Back</a>

    <table class="table" style="height: 350px; display:block; overflow-y: scroll; overflow-x: auto; white-space: nowrap;">
        <colgroup>
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
        </colgroup>
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">DueDate</th>
                <th scope="col">AssignedTo</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                @if (task.Completed == false)
                {
                    <tr class="table-dark">
                        <td>@task.Description</td>
                        <td>@task.DueDate</td>
                        <td>@task.AssignedTo</td>
                        <td>@task.Status</td>
                        <td>
                            @* <a asp-action="MarkAsFinished" asp-route-Id="@task.Id" class="btn btn-success mx-1 btn-sm">Mark As
                Finished</a> *@
                            <a class="btn btn-success mx-1 btn-sm"
                                href="@Url.Action("MarkAsFinished", new { id = task.Id, farmId = task.FarmId })">Mark As
                                Finished</a>
                            <a class="btn btn-primary mx-1 btn-sm" href="@Url.Action("UpdateTask", new { id = task.Id })">Edit</a> |
                            <form asp-action="DeleteTask" asp-route-id="@task.Id" asp-route-farmId="@farmId" method="post"
                                style="display:inline">
                                <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure you want to delete this Task ?')">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <h1>No Tasks Added</h1>
}