@model Land

<h2>@Model.Name Details</h2>

<div>
    <p>Size: @Model.Size hectares</p>
    <p>SoilType: @Model.SoilType </p>
    <a href="@Url.Action("ViewAllCrops", "Farm", new { farmId = @Model.Id })" class="btn btn-primary">View Current planted crops</a>
    <a href="@Url.Action("ViewAllExpenses", "Farm", new { farmId = @Model.Id })" class="btn btn-primary">View All Expenses</a>
    <a href="#" class="btn btn-primary">View All Pending Tasks</a>
</div>

<div>
    <h4>Actions</h4>
    <a href="@Url.Action("AddCrops", "Farm", new { farmId = Model.Id })" class="btn btn-primary">Add New Crops</a>
    <a href="#" class="btn btn-primary">Set Tasks</a>
    <a href="#" class="btn btn-primary">Add Expenses</a>
</div>
