@model List<Expenses>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@* @{
    Layout = "_LayoutAdminLoggedIn";
} *@

<partial name="_Notification" />
@if (Model != null)
{
    <h2>All Current Expenses</h2>
    string farmId = HttpContextAccessor.HttpContext.Request.Query["farmId"];
    <a href="@Url.Action("AddExpenses", "Farm", new { farmId = farmId })" class="btn btn-danger mt-1 mb-2">Add An Expense</a>
    <a href="@Url.Action("GetFarmDetails", "Farm", new { farmId = farmId })" class="btn btn-danger mt-1 mb-2">Back</a>

    <table class="table" style="height: 350px; display:block; overflow-y: scroll; overflow-x: auto; white-space: nowrap;">
        <colgroup>
            <col width="20%" />
            <col width="40%" />
        </colgroup>
        <thead>
            <tr>
                <th scope="row">Name</th>
                <th scope="row">Price</th>
                <th scope="row">Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model)
            {
                <tr class="table-dark">
                    <td>@expense.Name</td>
                    <td>@expense.Price</td>
                    <td>@expense.Category</td>
                    <td>
                        <a class="btn btn-primary mx-1 btn-sm" href="@Url.Action("EditExpense", new { id = expense.Id })">Edit</a> |
                        <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteExpense", new { id = expense.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No Expenses Added</h1>
}
