@model List<AppUsers>

@* @{
Layout = "_LayoutAdminLoggedIn";
} *@

<partial name="_Notification" />

<h2>All Users</h2>
<a href="@Url.Action("AddUser", "Farm", new { farmId = farmId })" class="btn btn-danger mt-1 mb-2">Add A new
    User</a>
<a href="@Url.Action("Index", "Admin")" class="btn btn-danger mt-1 mb-2">Back</a>

<table class="table" style="height: 350px; display:block; overflow-y: scroll; overflow-x: auto; white-space: nowrap;">
    <colgroup>
        <col width="20%" />
        <col width="40%" />
    </colgroup>
    <thead>
        <tr>
            <th scope="row">Name</th>
            <th scope="row">Role</th>
            <th scope="row">Email</th>
            <th>Account Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr class="table-dark">
                <td>@user.Name</td>
                <td>@user.Role</td>
                <td>@user.Email</td>
                <td>@user.AccountStatus</td>
                <td>
                    <a class="btn btn-primary mx-1 btn-sm" href="@Url.Action("EditUser", new { id = user.Id })">Edit</a>
                    |
                    <form asp-action="DeactivateUser" asp-route-id="@expense.Id" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('Are you sure you want to deactivate this User?')">Deactivate</button>
                    </form>
                    @* <a class="btn btn-danger btn-sm" href="" onclick="confirmDelete('@expense.Id')">Delete</a> *@
                    @* <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteExpense", new { id = expense.Id
                })">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>