@model List<CropTypes>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@* @{
Layout = "_LayoutAdminLoggedIn";
} *@

<partial name="_Notification" />
@if (Model != null)
{
    <h2>All Expense Categories</h2>
    string farmId = HttpContextAccessor.HttpContext.Request.Query["farmId"];
    <a href="@Url.Action("AddCropTypes", "Farm")" class="btn btn-danger mt-1 mb-2">Add Crop
        Type</a>
    <a href="@Url.Action("ViewCropTypes", "Admin")" class="btn btn-danger mt-1 mb-2">Back</a>

    <table class="table" style="height: 350px; display:block; overflow-y: scroll; overflow-x: auto; white-space: nowrap;">
        <colgroup>
            <col width="20%" />
            <col width="40%" />
        </colgroup>
        <thead>
            <tr>
                <th scope="row">Id</th>
                <th scope="row">Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cropType in Model)
            {
                <tr class="table-dark">
                    <td>@cropType.Id</td>
                    <td>@cropType.Name</td>
                    <td>
                        <a class="btn btn-primary mx-1 btn-sm"
                            href="@Url.Action("EditCropType", new { id = cropType.Id })">Edit</a> |
                        <form asp-action="DeleteCropType" asp-route-id="@cropType.Id" asp-route-farmId="@farmId" method="post"
                            style="display:inline">
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this Crop Type?')">Delete</button>
                        </form>
                        @* <a class="btn btn-danger btn-sm" href="" onclick="confirmDelete('@expense.Id')">Delete</a> *@
                        @* <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteExpense", new { id = expense.Id
                })">Delete</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No Expenses Categories Added</h1>
}
