@model List<ExpenseCategory>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "_LayoutAdmin";
}

<partial name="_Notification" />
@if (Model != null)
{
    <h2>All Expense Categories</h2>
    <a href="@Url.Action("AddExpenseCategory", "Admin")" class="btn btn-danger mt-1 mb-2">Add An
        Expense Category</a>
    <a href="@Url.Action("ViewExpenseCategory", "Admin")" class="btn btn-danger mt-1 mb-2">Back</a>

    <table class="table" style="height: 350px; display:block; overflow-y: scroll; overflow-x: auto; white-space: nowrap;">
        <colgroup>
            <col width="20%" />
            <col width="40%" />
        </colgroup>
        <thead>
            <tr>
                <th scope="row">Id</th>
                <th scope="row">Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expenseCategory in Model)
            {
                <tr class="table-dark">
                    <td>@expenseCategory.Id</td>
                    <td>@expenseCategory.Name</td>
                    <td>
                        <a class="btn btn-primary mx-1 btn-sm"
                            href="@Url.Action("EditExpenseCategory", new { id = expenseCategory.Id })">Edit</a> |
                        <form asp-action="DeleteExpenseCategory" asp-route-id="@expenseCategory.Id" method="post"
                            style="display:inline">
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this expense Category?')">Delete</button>
                        </form>
                        @* <a class="btn btn-danger btn-sm" href="" onclick="confirmDelete('@expense.Id')">Delete</a> *@
                        @* <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteExpense", new { id = expense.Id
                })">Delete</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No Expenses Categories Added</h1>
}